body {
    font-family: "Courier New", Courier, monospace;
    max-width: 900px;
    margin: 40px auto 40px auto;
    border:1px solid black;
   padding: 30px;;
    list-style-position: inside;
  } 
  h1,h3,h5{
    text-align: center;
  }
  p{
    text-align: center;
    }
  .products{
    list-style-type: none;
    text-align: center;
    margin-left:-6%;
  }
  li{
    padding:6px;
  }
img{
    margin-left:39%;
}
  
  
  @media (max-width: 768px) {
    .products{
       margin-left: 33%;
    }
  }